.event-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.send-mailing-list-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #ea1616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.send-mailing-list-button:hover {
  background: #b80f0f;
}

h1 {
  color: #007bff;
}

.event-description {
  font-size: 18px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

.error-message {
  color: red;
  text-align: center;
}

.rsvp-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.rsvp-button:hover {
  background: #218838;
}

.rsvp-button.attending {
  background: #dc3545;
}

.rsvp-button.attending:hover {
  background: #b02a37;
}

.modify-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease-in-out;
}

.modify-button:hover {
  background: #d39e00;
}

.financial-report-button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #17a2b8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease-in-out;
}

.financial-report-button:hover {
  background: #138496;
}